extends layout

block content

  div.row
    div.col-sm-6
      h2 Users
      div#userForm.well
        div.form-group
          label Name
          input.form-control(name='name')
        div.form-group
          button.btn.btn-primary Save
